<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <preference for="Magento\Customer\Block\Form\Register" type="Sagar\ClassOverride\Block\Form\Register" />
        <preference for="Magento\Customer\Controller\Account\CreatePost" type="Sagar\ClassOverride\Controller\Account\CreatePost" />
         <preference for="Magento\Customer\Model\Customer" type="Sagar\ClassOverride\Model\Customer" />
        <preference for="Magento\Customer\Helper\Address" type="Sagar\ClassOverride\Helper\Address"/>
</config>